{% extends "physics/base.html" %}
{% block title %}Resources{% endblock %}
{% block content %}
	<html>
	<head>
	<style>
</style>

</head>

	<body link="red">
	<h3> Several Handy (¿Dandy?) Resources </h3>
	<ul>
	 <li><a href="https://www.aapt.org/physicsteam/2015/exams.cfm">	Previous Exams (F=MA, USAPhO, etc.) for the Olympiad Series</a></li> 
	 <li><a href="http://physics.princeton.edu/pupc/">	Princeton's Physics Competition</a></li> 
	 <li><a href="https://www.physics.harvard.edu/academics/undergrad/problems"> Dr. Morin's Problems of the Month </a></li> 
	 <li><a href="	http://www.science.mcmaster.ca/outreach/outreach/physics-astronomy/physicsmac-online-physics-competition.html"> McMaster's Physics Competition </a></li> 
	 <li><a href="http://artofproblemsolving.com/"> AoPS</a></h3></li> 
	</ul>
	
	<br />
	<br />
	
	<h3>
	Books (Glorified Paperweights)
	</h3>
	<h4>
		  Usually they're pretty cheap on Amazon in used form.</h4>
	<h4>
		  <strike>Ask a Captain; there may be a pdf copy lying around. </strike>

	</h4>
	<ul>
		<li><a href="http://www.feynmanlectures.caltech.edu/I_toc.html">Feynman Lectures </a>  Feynman Lives! </li> 
		<li>Fundamentals of Physics: Mechanics, Relativity, and Thermodynamics   A great introductory/intermediate text. Written by Ramamurti "Ravi" Shankar</li>
		<li>Resnick and Halliday   A classic. 'Nuff said.</li>
		<li>Griffith's Electrodynamics  Oh you think you're better than me? </li>
		<li>Griffith's Quantum Mechanics   Oh, now you really think you're better than me.</li>
	</ul>

	</body>
	</html>
	

{%endblock%}

















